TestDriver.v12.suo
TestDriver/bin/Debug/TestDriver.exe
TestDriver/bin/Debug/TestDriver.exe.config
TestDriver/bin/Debug/TestDriver.pdb
TestDriver/bin/Debug/TestDriver.vshost.exe
TestDriver/bin/Debug/TestDriver.vshost.exe.config
TestDriver/bin/Debug/TestDriver.vshost.exe.manifest
TestDriver/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestDriver/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestDriver/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestDriver/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestDriver/obj/Debug/TestDriver.csproj.FileListAbsolute.txt
TestDriver/obj/Debug/TestDriver.csprojResolveAssemblyReference.cache
TestDriver/obj/Debug/TestDriver.exe
TestDriver/obj/Debug/TestDriver.pdb
